### Dependencies
___

In [13]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import mean

### Create Session
____

In [5]:
spark = SparkSession.builder.appName('na').getOrCreate()

#### Create DataFrame
______

In [6]:
csv_file="resources/ContainsNull.csv"

df = spark.read.csv(path=csv_file, inferSchema=True, header=True)
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

#### DropNA
______

In [8]:
#df.na.drop().show()
df.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

#### FillNA
______

In [12]:
#df.na.fill(0).show()
df.na.fill('No Name', subset=['Name']).show()

+----+-------+-----+
|  Id|   Name|Sales|
+----+-------+-----+
|emp1|   John| null|
|emp2|No Name| null|
|emp3|No Name|345.0|
|emp4|  Cindy|456.0|
+----+-------+-----+

In [22]:
mean_value = df.select(mean(df['Sales'])).collect()[0][0]

mean_value

400.5

In [24]:
df.na.fill(mean_value, subset='Sales').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+